@use 'tailwindcss';

@theme {
  --color-message-success: #5db677;
  --color-message-error: #aa1515;
  --color-message-info: #508ac8;
  --color-message-warning: #ff9426;
  --color-auth-primary: theme('colors.purple.900');
}

@layer utilities {
  .bg-animated-gradient {
    background: linear-gradient(-45deg,
      color-mix(in srgb, theme('colors.purple.700') 75%, transparent),
      color-mix(in srgb, theme('colors.purple.600') 75%, transparent),
      color-mix(in srgb, theme('colors.violet.600') 75%, transparent),
      color-mix(in srgb, theme('colors.violet.400') 75%, transparent),
    );
    background-size: 300% 300%;
    animation: gradient 12s ease-in-out infinite;
  }
  .bg-gradient-blur::before {
    @apply absolute bg-inherit;
    content: "";
    inset: -20%;
    filter: blur(60px);
    transform: scale(1.2);
    z-index: -1;
  }

  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    33% {
      background-position: 50% 100%;
    }
    66% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}