doctrine:
  dbal:
    host: '%env(DB_HOST)%'
    port: '%env(DB_PORT)%'
    user: '%env(DB_USER)%'
    password: '%env(DB_PASSWORD)%'
    profiling_collect_backtrace: '%kernel.debug%'
  orm:
    auto_generate_proxy_classes: true
    enable_lazy_ghost_objects: true
    report_fields_where_declared: true
    validate_xml_mapping: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    auto_mapping: true
    mappings:
      Application:
        type: attribute
        is_bundle: false
        dir: '%kernel.project_dir%/src/Application/Entity'
        prefix: 'App\Application\Entity'
        alias: Application
      Auth:
        type: attribute
        is_bundle: false
        dir: '%kernel.project_dir%/src/Auth/Entity'
        prefix: 'App\Auth\Entity'
        alias: Auth
      _Core:
        type: attribute
        is_bundle: false
        dir: '%kernel.project_dir%/src/_Core/Entity'
        prefix: 'App\_Core\Entity'
        alias: _Core

when@test:
  doctrine:
    dbal:
      dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
  doctrine:
    orm:
      auto_generate_proxy_classes: false
      proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
      query_cache_driver:
        type: pool
        pool: doctrine.system_cache_pool
      result_cache_driver:
        type: pool
        pool: doctrine.result_cache_pool

  framework:
    cache:
      pools:
        doctrine.result_cache_pool:
          adapter: cache.app
        doctrine.system_cache_pool:
          adapter: cache.system