<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{$title} | {$_ENV['APP_NAME']}</title>

    {asset 'styles/styles.css'}
    <script src="{$_ENV['FONTAWESOME_SCRIPT_URL']}" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>